@tailwind base;
@tailwind components;
@tailwind utilities;


.poster {
    height: 350px;
    width: 250px;
}

.small-movie-poster {
    height: 210px;
    width: 135px;
}

.circle-position {
    bottom: -30px;
    left: 10px;
}

.circle-review {
    width: 60px;
    height: 60px;
}